<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #1e9880;
  color: white;
}
</style>
</head>
<body>



<div class="vertical-menu">
  <a href="#" class="active">{{ user.first_name }}{{ user.last_name }}</a>
  <a href="/user">Profilim</a>
  <a href="/user/product">Ürünlerim</a>
  <a href="/user/comments">Yorumlarım</a>
    <a href="/shopcart/">Sepetim</a>
    <a href="/user/orders_product">Siparişlerim</a>
  <a href="/logout">Çıkış</a>
</div>

</body>
</html>
